.passwordHistoryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 500px;
    background-color: #818181;
    margin-top: 140px;
    border-radius: 10px;
}

.historyBox {
    width: 450px;
    height: 430px;
    background-color: #f79400;
    box-shadow: -10px -10px 20px rgba(98, 98, 98, 0.7);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.historyTitle {
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    margin-top: 20px;
}

@media screen and (max-width:1024px) {
    .passwordHistoryContainer {
        width: 430px;
        height: 450px;
        background-color: #818181;
        margin-top: 280px;
        border-radius: 10px;
    }

    .historyBox {
        width: 300px;
        height: 370px;
    }
}

@media screen and (max-width:440px) {
    .passwordHistoryContainer {
        margin-top: 470px;
        width: 310px;
        height: 350px;
    }

    .historyBox {
        width: 240px;
        height: 270px;
    }
    
}