.boxContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  width: auto;
  gap: 10px
}

h1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  top: 10%;
  margin-top: 10px;
  align-items: center;
  padding: 10px 10px;
  background-color: dimgrey;
  border-radius: 20px;

}

.BtnDesign {
  padding: 5px 20px;
  background-color: #f79400;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 7px;
  margin-left: 5px;
}

.inputs {
  display: flex;
  gap: 10px
}

.inputs input[type="checkbox"] {
  transform: scale(1.8);
}

.passwordViewer {
  margin-top: 10px;
}

.passwordField {
  padding: 5px 50px;

}

.passwordStrength {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.passwordStrength .colorBox {
  height: 15px;
  width: 15px;
  cursor:pointer;
  border-radius: 40px;
  border: 3px solid rgba(255, 255, 255, 0.627);
  transition: box-shadow 1.5s ease-in-out, transform 1s ease;
  box-shadow: 1px 1px 10px rgb(255, 255, 255);
}

.passwordStrength .colorBox:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}


@media screen and (max-width:1024px) {
  .passwordViewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .BtnDesign {
    padding: 7px 10px;
    border-radius: 7px;
    width: 150px;
  }
}

@media screen and (max-width:440px) {

  .container {
    margin-top: 20px;
    width: auto;
  }

  .passwordViewer {
    font-size: 1.1rem;
  }

  .passwordField {

    height: 30px;
    width: 200px;
    font-size: 1rem;

  }

  .BtnDesign {
    padding: 5px 120px;
    font-size: 1rem;
    margin-left: 5px;
    display: flex;
    justify-content: center;
  }

  .inputs {
    align-items: center;
    gap: 7px;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .inputs input[type="range"] {
    width: 100%;
  }

  .inputs label {
    font-size: 1.rem;
  }

  .inputs input[type="checkbox"] {
    transform: scale(1.8);
  }
}